.nav{
    grid-area: n;
    background-color: azure;
    padding: 20px;
  }
  .item{
    color: blueviolet;
  }  
  .item a{
    color: crimson;
    text-decoration: none;
  }
  .item a.activeLink{
    color: darkgoldenrod;
  }